# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [198]:
num1 = 15
num2 = 15
print(num1==num2)
print(num1 is num2)

True
True

вони будуть посилатися на один і той самий об'єкт через кешування чисел від -5 до 256

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [199]:
bool1 = True
type(bool1)

bool

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [200]:
int_num = 4
float_num = 1.5
print(int_num + float_num,
      int_num - float_num,
      int_num / float_num,
      int_num * float_num,
      int_num // float_num,
      int_num % float_num,
      int_num ** float_num)

5.5 2.5 2.6666666666666665 6.0 2.0 1.0 8.0

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [201]:
int_num = int(float_num)
print(int_num)
bool2 = False
int_num = int(bool2)
print(int_num)

1
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [202]:
empty_str1 = ""
empty_str2 = str()
print(empty_str1)
print(empty_str2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [203]:
str1 = 'aaa\'aaa'
str_raw = r'aaa\'aaa'
print(str1, str_raw)

aaa'aaa aaa\'aaa

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [204]:
surname = "Frolenko"
res_surname = f"My surname is {surname}"
print(res_surname)

My surname is Frolenko

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [205]:
str2 = "My dog is crazy."
res_str2 = str2.lower().strip(".").split()
print(res_str2)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [206]:
list1 = ["a", "b", "c"]
list2 = list("def")
length_a = len(list1)
print(list1, list2)
print(length_a)

['a', 'b', 'c'] ['d', 'e', 'f']
3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [207]:
list3 = ["a", "b", "c"]
list4 = ["d", "e", "f"]
list3.append(list4)
print(list3)

['a', 'b', 'c', ['d', 'e', 'f']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [208]:
matrix_list = [["a", "b", "c"], ["d", "e", "f"]]
el = matrix_list[1][0]
print(el)

d

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [209]:
list_full = [3, 3.3, "3", True, [6, 7], (8, 9), "lalala", 123, False, "tralala"]
list_slised = list_full[2:-2]
print(list_slised)

['3', True, [6, 7], (8, 9), 'lalala', 123]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [210]:
tuple1 = ("a",)
print(tuple1)

('a',)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

список: mutable, квадратні дужки, використовується для змінних даних; кортеж: immutable, круглі дужки, працює швидше і займає менше пам'яті, використовується для фіксованих даних;

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [211]:
tuple_full = (0.1, 1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple_even = tuple_full[::2][::-1]
print(tuple_even)

(0.3, 8.3, 6.3, 4.3, 2.3, 0.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [212]:
empty_set = set()
empty_set.add("a")
empty_set.add(1)
empty_set.add(False)
print(empty_set)

{False, 'a', 1}

множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [213]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

множина містить лише унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [214]:
set2 = {1, 2, 3, 4}
set3 = {3, 4, 5, 6}
union = set2.union(set3)
print(union)
intersection = set2.intersection(set3)
print(intersection)
difference = set2.difference(set3)
print(difference)
symmetric_diff = set2.symmetric_difference(set3)
print(symmetric_diff)
print(set2)
print(set3)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
{1, 2, 3, 4}
{3, 4, 5, 6}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [215]:
empty_dict = {}
empty_dict[1] = "a"
empty_dict["b"] = 2
empty_dict[False] = 345
empty_dict[(7, 8)] = 7
print(empty_dict)

{1: 'a', 'b': 2, False: 345, (7, 8): 7}

список не може бути ключем бо всі ключі мають бути immutable

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [216]:
nested_dict = {1: {2: {3: "a"}}}
val = nested_dict[1][2][3]
print(val)

a

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.